{{- if and (eq .chezmoi.os "darwin") (not (lookPath "brew")) -}}
#!/usr/bin/env bash

echo 'homebrew not found, installing...'
bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
{{- end -}}
