{{- if and (eq .chezmoi.os "linux") (not (lookPath "starship")) -}}
#!/usr/bin/env bash

echo 'starship not found, installing...'
curl -fsSL https://starship.rs/install.sh | sh -s -- --bin-dir ~/bin --yes
{{- end -}}
