*.pyc
.*.swp
.DS_Store
.aws/credentials
.config/gopass/config.yml
.gitconfig.work
.sh/local
.sh/private
.sh/work
.ssh/
.vim/.netrwhist
.vim/private
.zsh/completion/
.zsh_history
compare-git-to-home
diff-file
tags
