.mise.toml
dot_DS_Store
dot_config/private_fish/conf.d/private_05_private.fish
dot_config/private_fish/conf.d/symlink_02_work.fish
dot_sh/private
dot_sh/private_private
dot_sh/private_work
dot_sh/symlink_work
dot_sh/work
