{{- if eq .chezmoi.os "darwin" -}}
Include ~/.orbstack/ssh/config
{{- end -}}

Host github.com
  User git
  PreferredAuthentications publickey
  RequestTTY no

### Defaults
Host *
{{- if eq .chezmoi.os "darwin" }}
  IdentityAgent ~/Library/Containers/com.maxgoedjen.Secretive.SecretAgent/Data/socket.ssh
{{- end }}
  ForwardAgent yes
  PreferredAuthentications publickey
  PasswordAuthentication no
  ServerAliveInterval 120
  ServerAliveCountMax 2
  StrictHostKeyChecking accept-new
